# Emacs temporaries
*~

# NJOY outputs
ace
xsdir
output

# Results files
results_*
benchmarks

# IPython notebooks
*.ipynb

# compiled Python files
*.pyc

# Images
*.pdf
*.png

# Results folders
201?-??-??-??????
results/*

# Evaluations
evaluations/*

# PBS output
*.o?????
*.e?????